env/
venv/
ENV/
.venv/
.conda/
*anaconda/

.env
.env.local
.env.*.local
*.env

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
*.cover
*.py,cover
.hypothesis/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.jupyter/
.local/

.vscode/
*.code-workspace

.idea/
*.iml
*.ipr
*.iws

.mypy_cache/
.dmypy.json

.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.fuse_hidden*
.Trash-*
.nfs*   